NET "button" LOC = P58 | IOSTANDARD = LVTTL | PULLUP;
NET "button2" LOC = P67 | IOSTANDARD = LVTTL | PULLUP;
NET "button3" LOC = P75 | IOSTANDARD = LVTTL | PULLUP;
NET "high1" LOC = P138 | IOSTANDARD = LVTTL;
NET "high2" LOC = P140 | IOSTANDARD = LVTTL;
NET "high3" LOC = P142 | IOSTANDARD = LVTTL;
NET "low1" LOC = P24 | IOSTANDARD = LVTTL;
NET "low2" LOC = P22 | IOSTANDARD = LVTTL;
NET "low3" LOC = P17 | IOSTANDARD = LVTTL;