NET "button" LOC = P58;
NET "button" IOSTANDARD = LVTTL;
NET "button" PULLUP;
NET "button2" LOC = P67;
NET "button2" IOSTANDARD = LVTTL;
NET "button2" PULLUP;
NET "button3" LOC = P75;
NET "button3" IOSTANDARD = LVTTL;
NET "button3" PULLUP;
